@font-face{
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
body
{
    font-family: "open_sanslight";
    text-align: center;
}
footer
{
    background: #000;
	padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px
}
footer p
{
    color: #fff;
    opacity: 0.3;
}
footer p a
{
    color: #fff;
    text-decoration: none;
}
#webinarios
{
    background: #fff;
}
#webinarios h1 span
{
    color: #000;
    font-size: 84px;
    font-weight: normal;
    line-height: 90px;
    text-transform: uppercase;
}
#webinarios h3
{
    background: url('../img/yellow-v.png') no-repeat center top;
    margin-bottom: 60px;
    padding-top: 26px;
}
#webinarios h3 span
{
    background: #FFC000;
    border-bottom: double 8px #fff;
    color: #fff;
    font-size: 24px;
    font-weight: normal;
    line-height: 31px;
    padding: 10px;
}



.datos_itm
{
    background: url('../img/dark-bg.png') repeat;
    color: #fff;
    font-size: 24px;
    padding: 80px 0px;
}
.datos_itm .datos
{
    margin-bottom: 50px;
}
.datos_itm .social a {
    background: #181818;
    border-radius: 30px;
    height: 30px !important;
    margin-left: 5px;
    margin-right: 5px;
    padding: 15px 15px;
    width: 20px !important;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.datos_itm .social a img{
    vertical-align: middle;
}
.datos_itm .social a.facebook:hover {
    background: #4470CF;
}
.datos_itm .social a.google:hover {
    background: #DA2713;
}