body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

p{
	margin: 0;
	padding: 0;
}


.bloque-principal {
	height: 100vh;
	background-color: peru;
	display: flex;
	flex-direction: column;
}


/*************************************/
/* inicio de header */

header {
	flex-basis: 60px;
	background: #ffcd10;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header img {
	height: 50px;
	margin-left: 5vw;
	cursor: pointer;
	display: flex;
	align-items: center;
}

header nav {
	margin-right: 5vw;
}
nav ul {
	display: flex;
	padding: 0;
}
nav ul li {
	list-style-type: none;
	margin: 0 0 0 50px;
}
nav ul li a {
	text-decoration: none;
	color: #515151;
	cursor: pointer;
	font-size: 16px;
}
nav ul li a:hover{
	margin-bottom: 2px;
	border-bottom: 1px solid #515151;
}

/* fin de header */
/*************************************/


.portada {
	color: white;
	flex-grow: 1;

}

.portada p {
	background: rgba(#000,.5);
	color: gold;
}









.bloque-1{
	height: 200px;
	background-color: olive;
}

.bloque-2{
	height: 200px;
	background-color: goldenrod;
}

.bloque-3{
	height: 200px;
	background-color: #eee;
}



/*************************************/
/* Inicio Footer */ 

footer {
	height: 290px;
	background-image: url(../img/dark-bg.png);
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: #cdcdcd;
}
footer .campus {
	display: flex;
	flex: auto;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-right: 1px solid #333;
	font-size: .9em;
}
footer .campus:last-child {
	border-right: none;
}
.camp {
	display: flex;
}
.campus-titulo{
	color: #ffcd10;
	font-size: 1.4em;
	margin-bottom: 10px;
}

/* Fin Footer*/ 
/*************************************/
/* Inicio Desarrollado por @WilbortER*/ 

.desarrollador {
	color: #333;
	height: 44px;
	background-color: #ffcd10;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.desarrollador p{

	margin: 0 5vw;
	font-size: 14px;
	font-family: Roboto;
}
.desarrollador p span {
	font-weight: 700;
}
.desarrollador p a {
	text-decoration: none;
	color: #333;
}

/* Fin Desarrollado por @WilbortER*/ 
/**********************************/



/*
.bloque-1 {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	background-color: aqua;
}

header {
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header a img {
	display: flex;
	justify-content: center;
	align-items: center;
	
}

nav {
	margin-right: 5vw;
	height: 40px;
	display: flex;
	align-items: center;
}

nav a {
	color: #515151;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	cursor: pointer;
	margin: auto 20px;
}


*/
/* fin de header */
/********************/


/*
/* inicio de principal 

.principal {
	background-image: url(../img/bg1-compressor.jpg);
	flex-grow: 1;
	background-size: cover;
}

/* inicio de texto 

.texto {
	height: 30vh;
	background-color: red;
}
*/

